version: '3.8'

services:
  yildizplace-app:
    build: .
      #    ports:
    #      - "9001:9001"
    restart: unless-stopped
    container_name: yildizplace-app
    depends_on:
      - yildizplace-db
    networks:
      - skynet

  yildizplace-db:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_DB: yildizplace
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
        #    ports:
      #      - "5432:5432"
    volumes:
      - yildizplace_db_data:/var/lib/postgresql/data
    container_name: yildizplace-db
    networks:
      - skynet


networks:
  skynet:
    external: true


volumes:
  yildizplace_db_data: